@import 'normalize.min.css';

@font-face {
  font-family: 'HelveticaLt';
  src: url('fonts/Helvetica Neue LT 45 Light.woff');
}


/**********************************************************
*                       EDITABLE                          *
**********************************************************/

body {
  font-family: 'HelveticaLt', sans-serif, sans-serif;
  color: #696868;
  background: #F6F6F6;
  font-size: 15px;
}

@media (min-width: 992px) {
  .inner-wrapper {
    display: inline-block;
    float: right;
    width: 73%;
  }
}


/************ HEADER ************/
header {
  padding: 10px 0;
  background-color: #26211E;
}

header .site-logo {
  display: inline-block;
  max-width: 200px;
}

header .site-logo a {
  font-size: 30px;
  color: #fff;
}

header .social a {
  color: #007cc5;
  font-size: 25px;
}

header .social a:nth-child(2) {
  margin: 0 2px;
}

@media (max-width: 350px) {
  header .site-logo {
    display: block;
    margin: 0 auto 10px;
  }

  #cartWidget {
    margin: 40px auto 0;
  }
}

@media (min-width: 350px) {
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  header .menu-opener-wrapper,
  header #mainMenu {
    width: 100%;
  }
}

@media (min-width: 769px) {
  header #cartWidget {
    order: 3;
  }
}

header #cartWidget .quantity {
  margin-left: 9px;
  margin-top: 3px;
}

header #cartWidget .quantity,
header #cartWidget .cart-widget-quantity {
  font-size: 15px;
  color: #C1B497;
}

header .header-right {
  display: inline-block;
}

header .nalog,
header #cartWidget {
  display: inline-block;
}

header .nalog a img,
header #cartWidget  img {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #C1B497;
}

header .nalog a p {
  display: inline-block;
  color: #C1B497;
  margin-left: 9px;
  margin-top: 3px;
}

header .search {
  border: 1px solid #C1B497;
  width: fit-content;
  margin-top: 15px;
}

header .search .field {
  height: 30px;
  width: 161px;
  background-color: #26211E;
}

header .search button {
  background-color: #C1B497;
  width: 30px;
  height: 30px;

}


/************ FOOTER ************/
footer {
  background-color: #26211E;
  text-align: center;
}

footer a {
  color: #ffffff;
}

@media (min-width: 992px) {
  footer a:hover {
    text-decoration: underline;
  }
}

footer .content {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

footer .content .company,
footer .content .contact,
footer .content .wt-sn,
footer .content .brands{
  display: inline-block;
}

footer .content h4{
  padding: 4px 0;
  color: #fff;
  font-weight: 100;
  font-size: 30px;
}

footer .content p {
  padding: 4px 0;
  color: #fff;
  font-family: 'HelveticaLt', sans-serif;
}

footer .content .company a img {
  margin-bottom: 20px;
}

footer .content .wt-sn p {
  margin: 30px 0 20px;
}

footer .content .wt-sn .social {
  margin-top: 15px;
}

footer .content .wt-sn .social a {
  padding: 8px;
}

footer .content .brands img {
  margin-top: 30px;
}

footer .copyright {
  color: #26211E;
  background-color: #C1B497;
  font-size: 14px;
  padding: 5px;
}

/************ LANGUAGES ************/
.languages a {
  display: inline-block;
  margin-right: 7px;
  color: #ffffff;
}

.languages a:last-child {
  margin: 0;
}

.languages a.active {
  color: #007cc5;
}

@media (min-width: 769px) {
  .languages {
    display: inline-block;
    float: right;
    padding: 8px 0 0;
  }
}

@media (max-width: 768px) {
  .languages {
    display: block;
    float: none;
    text-align: center;
    padding: 8px 0;
  }
}

/***************** SEARCH FORM *****************/

#searchOverlay {
  background-color: rgba(0, 124, 197, 0.96);
}

#searchOverlay button {
  background-color: transparent;
  position: fixed;
  top: 40px;
  right: 5%;
}

#searchOverlay button i {
  font-size: 50px;
  color: #ffffff;
}

#searchOverlay .search-form-wrapper {
  width: 80%;
  max-width: 800px;
  z-index: 999;
}

#searchOverlay .search-form-wrapper h3 {
  margin-bottom: 70px;
  font-size: 60px;
  color: #ffffff;
}

#searchOverlay .search-form-wrapper .field {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  font-size: 20px;
}

#searchOverlay .search-form-wrapper button {
  position: absolute;
  right: 0;
  bottom: -60px;
  background-color: transparent;
  font-size: 30px;
}

#searchOverlay .search-form-wrapper button i {
  color: #ffffff;
}

/***************** ARTICLE *****************/

.articles .article {
  margin-bottom: 20px;
  padding-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(200, 200, 200, 0.5);
  -moz-box-shadow: 0 2px 5px 0 rgba(200, 200, 200, 0.5);
  box-shadow: 0 2px 5px 0 rgba(200, 200, 200, 0.5);
}

.articles .article .title {
  margin: 10px 0;
  color: #007cc5;
}

.articles .article .content {
  padding: 0 10px;
}

.articles .article .content .intro-text {
  font-size: 14px;
}

.articles .article .content .more {
  color: #45aa34;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}

.articles .article .content .more:active {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .articles .article .content .more:hover {
    text-decoration: underline;
  }
}

.page-content ul,
.page-content ol {
  padding-left: 20px;
}

.page-content ul li {
  list-style-type: disc;
}

.page-content ol li {
  list-style-type: decimal;
}

.nc-slider-wrapper {
  height: 580px;
}