.nc-pagination a {
  display: inline-block;
  min-width: 27px;
  margin: 0 4px 0 0;
  padding: 4px 6px;
  background-color: #ffffff;
  color: #45aa34;
  border: 1px solid #45aa34;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.nc-pagination a.active {
  background-color: #45aa34;
  color: #ffffff;
  cursor: default;
}

.nc-pagination a.disabled {
  background-color: #e8e8e8;
  color: #797979;
  border: 1px solid #e8e8e8;
  cursor: default;
}


.nc-pagination a i {
  margin: 3px 0 0 0;
}

@media(min-width: 992px) {
  .nc-pagination a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }


  .nc-pagination a:not(.active):hover,
  .nc-pagination a:not(.disabled):hover,
  .nc-pagination a:not(.dots):hover {
    background-color: rgba(69, 170, 52, 0.6);
    color: #ffffff;
  }

  .nc-pagination a.disabled:hover {
    background-color: #e8e8e8;
    color: #797979;
    border: 1px solid #e8e8e8;
  }

  .nc-pagination a.dots:hover {
    background-color: #ffffff;
    color: #45aa34;
    border: 1px solid #45aa34;
  }
}

.nc-pagination-top-filters {
  margin: 0 0 20px 0;
}

.nc-pagination-wrapper {
  text-align: center;
}

.nc-pagination-info {
  margin: 5px 0 3px;
  font-size: 12px;
  font-weight: 300;
}

.nc-pagination-items-per-page-wrapper {
  margin-bottom: 20px;
  text-align: center;
}

.nc-pagination-items-per-page-wrapper label {
  display: inline-block;
  margin-right: 3px;
}

.nc-pagination-items-per-page-wrapper .nc-pagination-items-per-page {
  min-width: 100px;
  padding: 4px 6px;
  background-color: #ffffff;
  color: #45aa34;
  border: 1px solid #45aa34;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media (min-width: 650px) {
  .nc-pagination-top-filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nc-pagination-wrapper,
  .nc-pagination-items-per-page-wrapper {
    margin-bottom: 0;
    text-align: right;
  }
}