/* products list */

.products-list .product {
  display: block;
  margin-bottom: 1%;
}

@media (min-width: 480px) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .products-list {
    justify-content: space-between;
  }

  .products-list .product {
    width: 49%;
  }
}


@media (max-width: 992px) and (min-width: 768px) {
  .products-list .product {
    width: 32%;
  }

  .products-list .product:nth-child(3n+2) {
    margin-right: 2%;
    margin-left: 2%;
  }

  .products-list .product {
    margin-bottom: 2%;
  }
}

@media (min-width: 992px) {
  .products-list .product {
    width: 24%;
  }

  .products-list .product:nth-child(3n+2) {
    margin-right: 0;
    margin-left: 0;
  }

  .products-list .product:nth-child(4n+2) {
    margin-left: 1%;
    margin-right: 0.5%;
  }

  .products-list .product:nth-child(4n+3) {
    margin-right: 1%;
    margin-left: 0.5%;
  }

  .products-list .product {
    margin-bottom: 1%;
  }

  .products-list .product .title a:hover {
    color: #007cc5;
  }

  .products-list .product .image-wrapper:hover {
    border-color: #007cc5;
  }
}