#cartWrapper .cart-empty-message {
  display: none;
}

#cartWrapper .cart-empty-message.active {
  display: block;
}

#cartTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
}

#cartTable th,
#cartTable td {
  vertical-align: middle;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #323232;
  font-size: 13px;
  border: 1px solid #dddddd;
}

#cartTable th {
  font-size: 15px;
  color: #585858;
}

#cartTable thead {
  background-color: #f9f9f9;
  border-bottom: 2px solid #dddddd;
}

#cartTable tbody tr .th-responsive {
  display: none;
}

#cartTable tbody tr td .cart-item-image {
  max-width: 70px;
  margin: 0 auto;
}

#cartTable tbody tr td .cart-item-title {
  margin-bottom: 3px;
  font-size: 15px;
}

#cartTable tbody tr td .cart-item-title a {
  color: #1e7edc;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#cartTable tbody tr td .cart-item-title a:hover {
  opacity: 0.8;
}

#cartTable tbody tr td .cart-item-code {
  color: #45aa34;
}

#cartTable tbody tr td.cart-prices .cart-item-price {
  color: #585858;
  font-size: 16px;
}

#cartTable tbody tr td.cart-prices .cart-item-price-without-discount {
  color: #888;
  text-decoration: line-through;
}

#cartTable tbody tr td.cart-prices .cart-item-discount {
  color: #45aa34;
}

#cartTable tbody tr td.cart-item-total-price {
  color: #585858;
  font-size: 18px;
}

#cartTable tbody tr td .cart-item-change-qty {
  display: block;
  max-width: 100px;
  margin: 0 auto 5px;
  padding: 10px 8px;
  text-align: center;
  border: 1px solid #dddddd;
}

#cartTable tbody tr td .action-buttons .btn {
  margin: 0;
  padding: 10px 11px;
  background-color: #007cc5;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#cartTable tbody tr td .action-buttons .btn i {
  margin-top: 2px;
}

#cartTable tbody tr td .action-buttons .btn:hover {
  opacity: 0.8;
}

#cartTable tbody tr td .action-buttons .btn:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

#cartTable tbody tr td .action-buttons .btn:nth-child(2) {
  border-left: 1px solid #0293b3;
  border-right: 1px solid #0293b3;
  border-radius: 0;
}

#cartTable tbody tr td .action-buttons .btn:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

#cartTable tfoot {
  background-color: #f9f9f9;
  border-top: 2px solid #dddddd;
}

.table-footer {
  display: none;
  background-color: #f9f9f9;
}

.table-footer .row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dddddd;
}

.table-footer .row .left,
.table-footer .row .right {
  width: 50%;
  padding: 8px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  color: #323232;
  font-size: 13px;
  text-align: right;
}

.table-footer .row .left {
  border-right: 1px solid #dddddd;
}

#cartPage .cart-action-buttons {
  margin: 8px 0 0;
}

#cartPage .cart-action-buttons .btn {
  display: inline-block;
  height: 40px;
  line-height: 20px;
  padding: 10px 11px;
  background-color: #007cc5;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  vertical-align: middle;
  font-size: 16px;
}

#cartPage .cart-action-buttons .btn:first-child {
  float: left;
  background-color: #45aa34;
}

#cartPage .cart-action-buttons .btn:last-child {
  float: right;
}

@media (max-width: 480px) {
  #cartTable thead {
    display: none;
  }

  #cartTable tbody tr td {
    display: block;
    padding-top: 0;
    padding-bottom: 12px;
    text-align: center !important;
  }

  #cartTable tbody tr .th-responsive {
    display: block;
    margin: 0 -8px 5px;
    padding: 8px;
    text-transform: uppercase;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    color: #585858;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
  }

  .table-footer {
    display: block;
  }

  #cartTable tfoot {
    display: none;
  }

  #cartPage .cart-action-buttons .btn {
    display: block;
    float: none !important;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  #cartPage .cart-action-buttons .btn:hover {
    opacity: 0.8;
  }
}