#shopCategoryPage .page-title {
  text-transform: uppercase;
  color: #C1B497;
  font-size: 16px;
}

#shopCategoryPage .page-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
}

#shopCategoryPage .page-content {
  margin: 30px 0 70px;
  font-weight: bold;
}

#shopCategoryPage .category-desc {
  margin: 0 0 30px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

/* categories list */



#shopCategoryPage .categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

#shopCategoryPage .categories .category {
  width: 30%;
  border: 1px solid #C1B497;
  text-align: center;
  padding: 25px;
  background: #fff;
}

#shopCategoryPage .categories .category p {
  border-top: 1px solid #C1B497;
  border-bottom: 1px solid #C1B497;
  font-size: 24px;
  color: #C1B497;
  text-transform: uppercase;
  padding: 7px 0;
  margin-bottom: 25px;
}

#shopCategoryPage .categories .category a {
  background-color: #C1B497;
  color: #000;
  padding: 6px;
  text-transform: uppercase;
  font-size: 14px;
}

/* products list */



#shopCategoryPage .products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

#shopCategoryPage .products .product {
  width: 30%;
  border: 1px solid #C1B497;
  text-align: center;
  padding: 25px;
  background: #fff;
}

#shopCategoryPage .products .product p {
  border-top: 1px solid #C1B497;
  border-bottom: 1px solid #C1B497;
  font-size: 24px;
  color: #C1B497;
  text-transform: uppercase;
  padding: 7px 0;
  margin-bottom: 25px;
}

#shopCategoryPage .products .product a {
  background-color: #C1B497;
  color: #000;
  padding: 6px;
  text-transform: uppercase;
  font-size: 14px;
}