/* products */
.product {
  position: relative;
  display: inline-block;
  min-height: 380px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.products .product .caption .product-title {
  margin-bottom: 3px;
  color: #007cc5;
  font-size: 18px;
}

.products .product .caption .product-code {
  margin-bottom: 3px;
  font-size: 15px;
}

.products .product .caption .product-vendor {
  margin-bottom: 3px;
}

.products .product .caption span.price {
  display: inline-block;
  vertical-align: bottom;
  line-height: 21px;
}

.products .product .caption .product-price-without-discount {
  font-size: 15px;
  text-decoration: line-through;
}

.products .product .caption .product-discount {
  margin: 0 5px;
  font-size: 15px;
}

.products .product .caption .product-price {
  font-size: 19px;
}

.products .product .action-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

@keyframes animateSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* action buttons */

.action-buttons .btn {
  width: 35px;
  height: 35px;
  margin: 0 3px 0;
  padding: 10px 10px;
  line-height: 1.5;
  background-color: #007cc5;
  color: #ffffff;
  vertical-align: middle;
  border-radius: 50%;
}

.action-buttons .btn i {
  margin-top: 2px;
}

.action-buttons .btn.product-quick-view i {
  margin-top: 1px;
}

.action-buttons .btn.cart-item-add .cart-icon {
  display: block;
}

.action-buttons .btn.cart-item-add .spinner-icon {
  display: none;
  font-size: 16px;
  margin-top: 0;
}

.action-buttons .btn.cart-item-add.disabled .cart-icon {
  display: none;
}

.action-buttons .btn.cart-item-add.disabled .spinner-icon {
  display: inline-block;
  animation: animateSpinner linear 0.9s infinite;
}

.action-buttons .btn.product-link {
  background-color: #45aa34;
}

.action-buttons .btn.product-link i {
  margin-top: 0;
}

.action-buttons .btn.product-quick-view {
  background-color: #c3c3c3;
}

/* product quick view */
.product-quick-view-popup {
  width: 80%;
  max-width: 800px !important;
}

.product-quick-view-popup .caption {
  margin-bottom: 10px;
}

.product-quick-view-popup .caption .product-title {
  margin-bottom: 5px;
  font-size: 27px;
  color: #007cc5;
}

.product-quick-view-popup .caption .product-code,
.product-quick-view-popup .caption .product-vendor,
.product-quick-view-popup .caption .product-price {
  margin-bottom: 3px;
  font-size: 17px;
}

.product-quick-view-popup .caption .action-buttons {
  margin: 15px 0 20px;
}

@media (max-width: 650px) {
  .product-quick-view-popup {
    text-align: center !important;
  }

  .product-quick-view-popup .featured-image,
  .product-quick-view-popup .caption {
    width: auto;
    display: block;
  }
}

@media (min-width: 651px) {
  .product-quick-view-popup .product-quick-view-popup-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .product-quick-view-popup .caption {
    width: 50%;
  }

  .product-quick-view-popup .product-quick-view-popup-inner .page-content {
    width: 100%;
  }
}