/* SLIDER */
.nc-slider-wrapper {
  position: relative;
  width: 100%;
  color: #fff;
  margin: 0 0 30px 0;
  background-color: #EDEDED;
}

#ncSlider {
  position: relative;
  width: 100%;
}

.nc-slides-wrapper {
  width: 100%;
  height: 460px;
  max-height: 460px;
}

.nc-slides-wrapper .nc-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
}

.nc-slides-wrapper .nc-slide .nc-slide-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nc-slides-wrapper .nc-slide img {
  display: block;
  margin: 0 auto;
  max-height: 460px;
}

.nc-slides-wrapper .nc-slide:first-child {
  display: block;
}

@media (max-width: 332px) {
  .nc-slides-wrapper {
    height: 140px;
  }
}

@media (min-width: 332px) {
  .nc-slides-wrapper {
    height: 140px;
  }
}

@media (min-width: 480px) {
  .nc-slides-wrapper {
    height: 200px;
  }
}

@media (min-width: 550px) {
  .nc-slides-wrapper {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .nc-slides-wrapper {
    height: 290px;
  }
}

@media (min-width: 992px) {
  .nc-slides-wrapper {
    height: 460px;
  }
}

/* link */
.nc-slide-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* caption */
.nc-slide-caption {
  display: block;
  position: absolute;
  width: 40%;
  height: 100px;
  max-height: 100%;
  bottom: 60px;
  left: 20%;
  padding: 10px 10px;
  background-color: rgba(0, 124, 197, 0.7);
  color: #fff;
  font-size: 18px;
  overflow-y: auto;
  z-index: 2;
}


/* bullets */
.nc-slider-bullets {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 15px;
  bottom: 15px;
  text-align: center;
}

.nc-slider-bullets .nc-slider-bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: rgba(0, 124, 197, 0.5);
  border: 2px solid #007cc5;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  cursor: pointer;
  z-index: 2;
}

.nc-slider-bullets .nc-slider-bullet:hover,
.nc-slider-bullets .nc-slider-bullet.active {
  background-color: rgba(0, 124, 197, 1);
}


/* navigation */
.nc-slider-navigation {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: #007cc5;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  z-index: 2;
}

.nc-slider-navigation i {
  border: 1px solid #ffffff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
}

.nc-slider-navigation:hover {
  opacity: 1;
}

.nc-slider-navigation.nc-slide-prev {
  left: 0;
  padding: 8px 0 0 8px;
}

.nc-slider-navigation.nc-slide-next {
  right: 0;
  padding: 8px 8px 0 0;
}

.nc-slider-navigation.nc-slide-prev i {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
}

.nc-slider-navigation.nc-slide-next i {
  transform: rotate(-405deg);
  -webkit-transform: rotate(-405deg);
}

.nc-slideFadeIn {
  -webkit-animation-name: slideFadeIn;
  -webkit-animation-duration: 1.5s;
  animation-name: slideFadeIn;
  animation-duration: 1.5s;
}

@-webkit-keyframes slideFadeIn {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideFadeIn {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}