.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.logopanel a {
  background: url("img/logo.png") no-repeat 0 0 !important;
}

.date {
  cursor: pointer;
}

.btn.disabled {
  background-color: #e0e0e0 !important;
  color: #a2a2a2 !important;
  border-color: #a2a2a2 !important;
}

.tree-wrapper {
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.21);
  background: rgba(248, 246, 246, 0.38) none repeat scroll 0% 0%;
  border-radius: 5px;
}

.main-wrapper {
  padding: 0;
  border: 2px solid rgba(128, 128, 128, 0.21);
  background: rgba(248, 246, 246, 0) none repeat scroll 0% 0%;
  border-radius: 5px;
}

/******************************** PANELS ********************************/

.main-content .page-content .panel {
  border: 1px solid #e2e2e2;
}

.main-content .page-content .side-panels .panel .panel-header {
  padding: 10px 15px;
  border-bottom: 1px solid #e2e2e2;
}

.main-content .page-content .side-panels .panel .panel-header h3 {
  margin: 0;
}

.main-content .page-content .panel .panel-content {
  padding: 20px;
}

.panel .panel-content .panel-status li {
  margin-bottom: 12px;
  line-height: 20px;
}

.panel .panel-content .panel-status li:last-child {
  margin-bottom: 0;
}

.panel .panel-content .panel-status li i.fa-li {
  padding: 0;
}

.panel .panel-content .panel-status li label {
  margin: 0;
  font-weight: 400;
}

.panel .panel-content .panel-status li span {
  font-weight: 700;
}

.panel.actions-panel .panel-content button {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 7px 13px 8px 12px;
}

.panel.actions-panel .panel-content button i {
  padding-right: 4px !important;
}

.panel.actions-panel .panel-content a {
  display: inline-block;
  width: 90px;
  margin: 0;
  padding: 7px 12px 8px 9px;
}

.panel.actions-panel .panel-content a i {
  position: static;
  padding-right: 4px !important;
}

@media (max-width: 332px) {
  .panel.actions-panel .panel-content button {
    margin-bottom: 10px;
  }
}

@media (max-width: 1448px) and (min-width: 992px) {
  .panel.actions-panel .panel-content button {
    margin-bottom: 10px;
  }
}

.panel.image-panel .panel-content {
  position: relative;
}

.panel.image-panel button {
  margin: 0 !important;
}

.panel.image-panel .item-image-wrapper {
  margin: 0 auto 10px;
}

.panel.image-panel .panel-image-wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: transparent no-repeat center;
  background-size: contain;
}

.panel.image-panel .panel-image-wrapper img {
  max-height: 100%;
}

.panel.image-panel .panel-image-wrapper .remove-image {
  position: absolute;
  right: 3px;
  top: 3px;
}

.panel.image-panel .open-media-modal {
  display: block !important;
  margin: 10px auto 0 !important;
  background-color: transparent;
  color: #319db5 !important;
  text-decoration: underline;
}

.action-buttons {
  position: relative;
}

.spinner-overlay {
  width: 100%;
  height: 100%;
  background-color: #2D2E2F;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.action-buttons-overlay {
  background-color: rgba(0, 0, 0, .2);
}

.panel-header-gray {
  margin-bottom: 10px;
  padding: 10px;
  background: #F5F5F5;
}

.table-wrapper {
  padding: 10px;
}

.table-filters-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-filters-wrapper .table-search-wrapper {
  margin-top: 20px;
}

.table-filters-wrapper .table-search-wrapper input[type="search"] {
  position: relative;
  width: auto;
}

.table-filters-wrapper .table-search-wrapper button {
  position: absolute;
  right: 20px;
  top: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10;
}

.table-filters-wrapper .table-search-wrapper button.table-search-tag {
  right: 20px;
  background-color: #319db5 !important;
  padding: 1px 20px 1px 8px;
  text-align: left;
  min-width: 60px;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.table-filters-wrapper .table-search-wrapper button.table-search-tag i {
  position: absolute;
  top: 5px;
  right: 3px;
  padding: 0 !important;
  font-size: 12px;
}

.table-filters-wrapper .table-search-wrapper label {
  display: inline-block;
  vertical-align: top;
  margin: 10px 6px 0 0;
}

.table-filters-wrapper .table-search-wrapper label.tag-label {
  position: absolute;
  top: -23px;
  right: 15px;
}

.sort-cell {
  position: relative;
}

.sort-cell button.clear-table-sorting {
  margin: 3px 2px 0 0;
  padding: 0;
  height: 14px !important;
  width: 14px;
  text-align: center;
  float: left;
}

.sort-cell button.clear-table-sorting i {
  display: block;
  margin: 0;
  padding: 0 !important;
  font-size: 9px;
}

.topbar .header-right .header-menu #user-header img {
  background-color: #dce1e4 !important;
}


.tree-grid-root-category {
  margin: 0 0 5px 25px;
  cursor: pointer;
  padding: 2px;
  background-color: #F0F0F0;
}

.tree-grid-root-category.root-selected {
  background-color: #319DB5 !important;
  color: #fff !important;
}


/************** GALLERY **************/

#modal-entry.gallery .modal-dialog {
  width: 1000px;
  min-height: 800px;
}

.gallery-image {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
  vertical-align: top;
}

.gallery-image .remove-image {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  margin: 0;
}

.gallery-image img {
  width: 200px;
}

.gallery-select {
  cursor: pointer;
}

#gallery-images {
  overflow: scroll;
  height: 400px;
}

/************** MEDIA MODAL **************/

#media-modal,
#galleries-modal {
  z-index: 10100;
}

.open-media-modal-texteditor {
  display: inline-block !important;
  margin: -3px 0 0 10px !important;
}

.open-media-modal-texteditor span {
  color: #ffffff !important;
}

.media-modal-items-wrapper {
  padding: 15px;
}

.media-modal-items-wrapper table.choose-media-popup {
  width: 100%;
}

.media-modal-items-wrapper table.choose-media-popup thead {
  border-bottom: 2px solid #e0e0e0;
}

.media-modal-items-wrapper table.choose-media-popup thead tr th {
  padding: 10px 0;
  text-transform: uppercase;
}

.media-modal-items-wrapper table.choose-media-popup tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.media-modal-items-wrapper table.choose-media-popup tbody tr {
  border-bottom: none;
}

.media-modal-items-wrapper table.choose-media-popup tbody tr td {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  max-width: 200px;
  word-wrap: break-word;
}

.media-modal-items-wrapper table.choose-media-popup tbody tr td.image-wrapper {
  padding: 10px 0;
}

.media-modal-items-wrapper table.choose-media-popup tbody tr td.image-wrapper img {
  max-width: 180px;
  height: auto;
}

.media-modal-items-wrapper table.choose-media-popup tbody tr td a.media-check {
  display: block;
  width: 17px;
  height: 17px;
  margin: 0 0 0 10px;
  font-size: 16px;
  line-height: 15px;
  border: 1px solid #319DB5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.media-modal-items-wrapper figure,
.gallery-modal-items-wrapper figure {
  position: relative;
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  padding: 3px;
  background-color: #f1f1f1;
  border: 1px solid #efefef;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
}

.media-modal-items-wrapper figure a,
.gallery-modal-items-wrapper figure a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.media-modal-items-wrapper figure img,
.gallery-modal-items-wrapper figure img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.media-modal-items-wrapper figure figcaption,
.gallery-modal-items-wrapper figure figcaption {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* search field */
.media-modal-search-wrapper {
  padding: 0 15px;
}

@media (max-width: 332px) {
  .modal-pagination {
    margin: 0 auto;
  }

  .media-modal-search-wrapper {
    text-align: center;
  }

  .media-modal-search-wrapper input {
    width: 90%;
  }
}

@media (min-width: 332px) {
  .modal-pagination {
    margin: 0 auto;
  }

  .media-modal-search-wrapper {
    text-align: center;
  }

  .media-modal-search-wrapper input {
    max-width: 100%;
    width: 90%;
  }
}

@media (min-width: 480px) {
  .modal-pagination {
    margin: 0 8px 0;
  }

  .media-modal-search-wrapper {
    text-align: left;
  }

  .media-modal-search-wrapper input {
    max-width: 280px;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .media-modal-items-wrapper figure,
  .gallery-modal-items-wrapper figure {
    height: 220px;
  }

  .media-modal-items-wrapper figure:hover,
  .gallery-modal-items-wrapper figure:hover {
    background-color: #e0e0e0;
  }
}

.media-modal-body h3 {
  margin: 0;
}

.media-modal-body .media-modal-upload-wrapper {
  margin: 10px 0 25px;
}

.media-modal-body .media-modal-upload-wrapper .dropzone {
  min-height: 150px;
}

.media-modal-body .media-modal-upload-wrapper .dropzone.dz-clickable {
  border: 4px solid rgb(49, 157, 181) !important;
}

.media-modal-body .media-modal-upload-wrapper .dropzone .dz-default.dz-message span {
  display: block;
  background-image: none !important;
  font-size: 30px;
}

.media-modal-body .media-modal-categories-wrapper {
  margin: 10px 0 0;
}

.media-modal-body .media-modal-categories-wrapper .media-modal-category-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.media-modal-body .media-modal-categories-wrapper .media-modal-category-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.media-modal-body .media-modal-categories-wrapper .media-modal-category-item button {
  float: right;
}

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

.media-modal-message {
  display: none;
  margin-top: 20px;
  color: #c14444;
  font-size: 16px;
  font-weight: bold;
}

.gallery-youtube-icon {
  z-index: 9;
  width: 50px;
}

/***************** MEDIA *****************/

.form-media-warpper {
  margin: 20px 0;
}

.item-image-wrapper {
  position: relative;
  display: inline-block;
  /*max-width: 200px;*/
  margin: 20px 0;
  padding: 0 20px;
  vertical-align: top;
  background-color: #efefef;
  text-align: center;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.item-image-wrapper figure {
  /*display: inline-block;*/
  display: block;
  position: relative;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #efefef;
}

.item-image-wrapper figure img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.item-image-wrapper .btn.remove-image {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 1;
}

.item-image-wrapper .btn i {
  padding: 0;
  font-size: 9px;
}

.item-image-wrapper .item-image-desc {
  min-height: 60px;
  margin: 0 -20px;
  padding: 5px 4px;
  background-color: rgba(175, 175, 175, 0.15) !important;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.item-image-wrapper .item-image-desc p {
  margin: 0;
  text-align: center;
}

.item-image-wrapper .open-gallery-item-desc-modal {
  display: block;
  margin: 10px auto;
  padding: 7px 9px 8px 8px;
}

.item-image-wrapper .open-gallery-item-desc-modal i {
  padding-right: 4px !important;
}

@media (min-width: 332px) {
  .item-image-wrapper {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 480px) {
  .item-image-wrapper {
    display: inline-block;
    width: 48%;
  }

  .item-image-wrapper:nth-child(2n+1) {
    float: left;
  }

  .item-image-wrapper:nth-child(2n+2) {
    float: right;
  }
}


@media (min-width: 576px) {
  .item-image-wrapper {
    display: inline-block;
    width: 32%;
    float: none !important;
  }

  .item-image-wrapper:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (min-width: 1200px) {
  .item-image-wrapper:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }

  .item-image-wrapper {
    width: 21%;
    margin-right: 2% !important;
    margin-left: 2% !important;
  }
}


/*** documents ***/

.media-document-wrapper {
  position: relative;
  margin: 0 30px 20px 0;
  padding: 10px 0;
  background-color: #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.media-document-wrapper figure img {
  display: inline-block;
}

.media-document-wrapper figure figcaption {
  display: inline-block;
}

.media-document-wrapper .remove-document {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}


/**************** JSTREE *****************/

.jstree-default .jstree-anchor {
  white-space: normal;
  height: auto !important;
}

.jstree-default .jstree-clicked {
  background: #c3c3c3 !important;
}


/*************** DROPZONE ***************/

#mediaPage .dropzone.dz-clickable {
  border: 4px solid rgb(49, 157, 181) !important;
}

#mediaPage .dropzone .dz-default.dz-message span {
  display: block;
  background-image: none !important;
  font-size: 30px;
}


/********* CHANGE PASSWORD SECTION ********/

#usersInsertPage .change-password-section {
  display: none;
  margin-top: 20px;
}


a.cke_dialog_ui_button_ok {
  background-color: #319DB5 !important;
  color: #ffffff !important;
  border: 1px solid #319DB5 !important;
}

.icon-youtube {
  position: absolute;
  width: 50px !important;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.checkbox-wrapper {
  margin: 10px 0;
}

.checkbox-wrapper label {
  display: inline-block;
}

.form-control,
.input-group {
  margin-bottom: 15px;
}

.form-control.disabled {
  color: #7d7d7d;
  background-color: #c7c7c7;
}

.back-btn-wrapper {
  /*padding: 9px 15px 9px 18px;*/
  padding: 9px 0;
}

.back-btn-wrapper i {
  margin: 0 3px 0 0;
  font-size: 10px;
}

#yt-code {
  max-width: 700px;
  vertical-align: top;
}


/******************* TAGS ******************/
.tag-wrapper {
  display: inline-block;
  vertical-align: top;
}

.tag-wrapper .tag-field {
  display: inline-block;
  width: 75%;
  margin: 0;
  padding: 4px 12px !important;
}

.tag-wrapper .add-tag {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 5px 12px 4px !important;
  vertical-align: top;
}

#menuItemsPage .articles-select-wrapper,
#menuItemsPage .categories-select-wrapper,
#menuItemsPage .url-field-wrapper {
  display: none;
}

.dropzone .dz-default.dz-message {
  width: 50% !important;
  background-image: none !important;
}

.gallery-image-wrapper:hover {
  background-color: #319db52e;
  cursor: ew-resize;
}

/* language */
.language-tabs {
  margin-bottom: 40px;
}

.language-wrapper {
  display: none;
}

.language-wrapper.active {
  display: block;
}

.language-tabs.nav-tabs > li > a {
  text-transform: capitalize;
}

.nav-tabs > li > a::before {
  background-color: #319DB5 !important;
}

.topbar .header-right .header-menu #language-header .dropdown-menu {
  max-width: 150px !important;
  min-width: 70px !important;
  width: 150px !important;
}

.form-modal-section {
  margin-top: 15px;
}

.form-modal-section input {
  margin: 0;
}

.form-modal-section label {
  margin: 1px 0 0 5px;
  line-height: 1;
  vertical-align: top;
  cursor: pointer;
}

#mediaPage .main-wrapper {
  margin-top: 20px;
}

.info-tooltip {
  position: relative;
  width: 15px;
  height: 15px !important;
  margin: 0 0 2px 5px !important;
  padding: 0 !important;
  border-radius: 50%;
}

.info-tooltip i {
  position: absolute;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}

.gallery-wrapper {
  border: 1px solid #dadada;
  display: none;
}

#galleryInsertPage .gallery-wrapper {
  display: block;
  border: none;
}

#galleryInsertPage .toggler-wrapper {
  display: none;
}

.toggler-wrapper {
  margin-bottom: 20px;
  padding: 7px 10px;
  border: 1px solid #dadada;
}

.toggler-wrapper.active {
  background-color: #319DB5;
}

.toggler-wrapper.active a {
  color: #ffffff;
}

.toggler-wrapper i {
  padding-left: 0;
  padding-right: 6px;
}

.toggler-wrapper h3 {
  display: inline-block;
  margin: 0 !important;
  vertical-align: middle;
}


/******************* COMMENTS ******************/

.comments-wrapper section {
  margin-bottom: 20px;
  padding: 7px 10px;
  border: 1px solid #dadada;
}

.comments-wrapper section.active {
  background-color: #319DB5;
}

.comments-wrapper section.active a {
  color: #ffffff;
}

.comments-wrapper section h3 {
  display: inline-block;
  margin: 0 !important;
  vertical-align: middle;
}

.comments-wrapper .comments {
  display: none;
}

.comments-wrapper .comment {
  margin: 0 0 20px 0;
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.comments-wrapper .comment .comment-header {
  padding: 5px;
  border-bottom: 1px solid #efefef;
}

.comments-wrapper .comment .comment-header button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.comments-wrapper .comment .comment-header button:last-child {
  margin-left: 20px;
  color: #c14444;
}

.comments-wrapper .comment .comment-header button.comment-publish {
  color: #319DB5;
}

.comments-wrapper .comment .comment-body {
  padding: 10px 0;
}

.comments-wrapper .comment .comment-body img {
  margin-right: 5px;
  background-color: #dce1e4;
  vertical-align: top;
}

.comments-wrapper .comment .comment-body span {
  display: block;
  font-size: 13px;
}

.comments-wrapper .comment .comment-body span.date {
  font-size: 12px;
  cursor: initial;
}

.comments-wrapper .comment .comment-body .message {
  margin-top: 10px;
  word-wrap: break-word;
}

.date-field-wrapper {
  position: relative;
}

.date-field-wrapper .remove-date {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 9;
  border: none;
  background: transparent;
}