#articlePage .page-title {
  margin-bottom: 20px;
  color: #007cc5;
}

#articlePage .page-subtitle {
  margin: 0 0 10px 0;
  font-size: 22px;
}

#articlePage .article-date {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-style: italic;
}

#articlePage .article-image {
  margin: 0 0 10px 0;
  text-align: center;
}

#articlePage .article-content ul {
  padding-inline-start: 40px;
}

#articlePage .article-content ul li {
  list-style: disc;
}

@media (max-width: 480px) {
  #articlePage .article-content {
    text-align: center;
  }

  #articlePage .article-content ul li {
    text-align: left;
  }
}