#categoryPage .page-subtitle {
  margin: 0 0 10px 0;
}

#categoryPage .articles {
  margin-top: 20px;
}

#categoryPage .articles .article {
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  #categoryPage .category-content {
    text-align: center;
  }

  #categoryPage .articles .article {
    text-align: center;
  }
}

@media (min-width: 481px) {
  #categoryPage .articles {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  #categoryPage .articles {
    justify-content: space-between;
  }

  #categoryPage .articles .article {
    width: 48%;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  #categoryPage .articles .article {
    width: 32%;
  }

  #categoryPage .articles .article:nth-child(3n+2) {
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media (min-width: 993px) {
  #categoryPage .articles .article {
    width: 24%;
  }

  #categoryPage .articles .article:nth-child(4n+2) {
    margin-right: 0.5%;
    margin-left: 1%;
  }

  #categoryPage .articles .article:nth-child(4n+3) {
    margin-right: 1%;
    margin-left: 0.5%;
  }
}