/************ PRODUCTS SECTION ************/

#homePage .products .product {
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  #homePage .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #homePage .products .product {
    width: 49%;
  }

  #homePage .products .product {
    margin-bottom: 1%;
  }
}

@media (min-width: 768px) {
  #homePage .products .product {
    width: 32%;
  }

  #homePage .products .product {
    margin-bottom: 2%;
  }
}

#homePage .categories {
  display: flex;
  justify-content: space-between;
}

#homePage .categories .category {
  width: 30%;
  border: 1px solid #C1B497;
  text-align: center;
  padding: 25px;
  background: #fff;
}

#homePage .categories .category p {
  border-top: 1px solid #C1B497;
  border-bottom: 1px solid #C1B497;
  font-size: 24px;
  color: #C1B497;
  text-transform: uppercase;
  padding: 7px 0;
  margin-bottom: 25px;
}

#homePage .categories .category a {
  background-color: #C1B497;
  color: #000;
  padding: 6px;
  text-transform: uppercase;
  font-size: 14px;
}

#homePage .quality {
  margin-top: 100px;
}

#homePage .quality p {
  font-size: 24px;
  color: #C1B497;
  text-align: center;
}

#homePage .logos {
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

#homePage .logos img {
  margin: 0 30px;
}


#homePage .about-us {
  border: 1px solid #C1B497;
  background-color: #fff;
  padding: 0 30px 30px 30px;
  margin-bottom: 100px;
}

#homePage .about-us img {
  display: inline-block;
  width: 40%;
}

#homePage .about-us div {
  display: inline-block;
  padding: 30px 0 30px 30px;
  width: 60%;
}

#homePage .about-us h2 {
  border-top: 1px solid #C1B497;
  border-bottom: 1px solid #C1B497;
  color: #C1B497;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 10%;
  padding: 10px 0;
  margin-bottom: 20px;
}

#homePage .about-us h3 {
  color: #C1B497;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 10%;
  margin-bottom: 15px;
}

#homePage .about-us p {
  font-size: 14px;
  color: #C1B497;
  margin-bottom: 10px;
}